HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Top level application-dev.yml is ignored, application-dev.yml.example file is used instead
/application-dev.yml
/no-docker-tests.properties

# The node application needs to be generated into this folder
/src/main/resources/static

# This file contains confidential information
/docker/dev-env/.env
