# Rename to application-dev.properties and set a datasource for development here. Can be H2, MySQL or Postgres
# The docker folder contains a compose-file that matches the example settings.
spring.datasource.url=jdbc:postgresql://localhost:54321/cocktails
spring.datasource.username=dev
spring.datasource.password=verysecure
